<extend name="Public:layout" />
<block name="title"><title>{$title}|后台管理</title></block>
<block name="nav">
  <li>系统</li>
  <li>系统权限</li>
  <li>角色管理</li>
</block>
<block name="main">
  <section class="panel">
    <div class="panel-body">
      <div class="row">
	<div class="col-xs-12 col-sm-8">
	  <div class="form-group">
            <a title="新增" class="btn btn-success" href="{:U('Admin/Rbac/addRole')}">新增</a>&nbsp;
            <a title="启用" target-form="ids" class="btn btn-info" model="User" href="/lyadmin/admin.php?s=/Admin/User/setStatus/status/resume/model/User.html">启用</a>&nbsp;<a title="禁用" target-form="ids" class="btn btn-warning" model="User" href="/lyadmin/admin.php?s=/Admin/User/setStatus/status/forbid/model/User.html">禁用</a>&nbsp;<a title="删除" target-form="ids" class="btn btn-danger" model="User" href="/lyadmin/admin.php?s=/Admin/User/setStatus/status/delete/model/User.html">删除</a>&nbsp;                    </div>
	</div>
	<div class="col-xs-12 col-sm-4">
	  <form class="" method="post">
	    <div class="input-group m-bot15">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
              </span>
            </div>
	  </form>
	</div>
      </div>
      <div class="row">
	<div class="col-sm-12">
	  <table class="table table-bordered">
            <tr>
              <th><input class="check-all" type="checkbox"></th>
              <th>ID</th><th>PID</th><th>名称</th><th>描述</th><th>状态</th><th>操作</th>
	    </tr>
	    <foreach name="list" item='role'>
	      <tr>
		<th><input class="check-all" type="checkbox"></th>
		<td>{$role.id}</td>
		<td>{$role.pid}</td>
		<td>{$role.name}</td>
		<td>{$role.remark}</td>
		<td>{$role.status}</td>
		<td><a href="{:U('Admin/Rbac/access',array('rid'=>$role['id']))}">配置权限</a></td>
	      </tr>
	    </foreach>
	  </table>
	</div>
      </div>
    </div>
  </section>
</block>